$bp-tablet: 794px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1400px;

$roboto: "Roboto", sans-serif;

//Colors:
$color-blue: #666CA3;
$color-black: #13183F;
$color-gray: #83869A;
$color-pink: #F74780;
$color-bluelight: #FFA7C3;
$color-white: #FFFFFF;

$degrade:linear-gradient(180deg,#F02AA6 0.04%, #FF6F48 100%);
$degrade-blue:linear-gradient(180deg,#4851FF 0.04%, #F02AA6 100%);