@use "../abstracts" as a;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: a.$color-white-background;
  @include a.breakpoint(tablethorizontal) {
    background: linear-gradient(to right, #efefef 65%, #a9d6cb 65%);
  }
}

.principal-container {
  @include a.breakpoint(tablethorizontal) {
    display: flex;
    gap: 60px;
  }
}
